body {
  background: url('/assets/greyzz.png');
}

.navbar.navbar-inverse {
  background: url('/assets/random_grey_variations.png');
  border-radius: 0;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  color: #4A4B54;
}

.navbar-inverse .navbar-brand {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
}
